<div class="panel panel-default profile">
  <div class="panel-heading">
    <h3>Profile</h3>
  </div>
  <div class="panel-body">
    <img src="{{profile?.picture}}" class="avatar profile__image" alt="avatar">
    <div class="field">
      <label><i class="glyphicon glyphicon-user"></i> Name</label>
      <h4 class="field__value">{{ profile?.name }}</h4>
    </div>
    <div class="field">
      <label><i class="glyphicon glyphicon-glass"></i> Nickname</label>
      <h4 class="field__value">{{ profile?.nickname }}</h4>
    </div>
    <div class="field">
      <label><i class="glyphicon glyphicon-comment"></i> Email</label>
      <h4 class="field__value">{{ profile?.email }}</h4>
    </div>
  </div>
</div>