@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/components.scss';

.photos {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: $beige;

  .photo-tile {
    position: relative;

    .photo-tile__image-container {
      height: 100vw;
      width: 100vw;
      margin: 0;
      overflow: hidden;

      @include screen(sm) {
        height: 50vw;
        width: 50vw;
      }

      @include screen(lg) {
        height: 25vw;
        width: 25vw;
      }
    
      .photo-tile__image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
    }

    .photo-tile__overlay {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2em 2em 2em;
      color: $white;
      background-color: $beige;
      text-transform: uppercase;
      font-weight: bolder;

      .photo-tile__title, .button {
        border-color: $gray;
        color: $gray;
      }

      .photo-tile__title {
        padding: 0 $margin;
      }

      @include screen(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: transparent;

        .photo-tile__title, .button {
          border-color: $white;
          color: $white;
          visibility: hidden;
        }

        &:hover {
          background-color: rgba($red, 0.85);

          .photo-tile__title, .button {
            visibility: visible;
          }
        }
      }
    }

    &:hover, &:focus {
      .photo-tile__image-container .photo-tile__image {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}
