@import '../../styles/variables.scss';

.app-container {
  width: 100%;

  .app-container__body-content {
    height: 100vh;
    padding-top: $header-height;
    font-size: 14px;
    letter-spacing: initial;
    color: $gray;
    background-color: $beige;
  }
}
