@{
    ViewData["Title"] = "Photoguru";
}

<link rel="stylesheet" type="text/css" href="~/root-styles.css">

<!-- <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app> -->
<app class="root-container">PHOTOGURU <div class="loading-icon"></div></app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
