<div class='navmenu'>

    <div class='navmenu__header'>
      <a class='navmenu__title navbar-brand' [routerLink]="['/photos']">
        <span class='glyphicon glyphicon-camera'></span> photoguru
      </a>
    </div>
  
    <ul class='navmenu__items'>
      <!-- <li class="navmenu__item">
        <button
          class="btn btn-primary btn-margin"
          *ngIf="auth.isAuthenticated()"
          routerLink="/profile">
            Profile
        </button>
      </li> -->

      <li class="navmenu__item" *ngIf="!auth.isAuthenticated()">
        <a
          class="navmenu__item-link navmenu__item-link--desktop"
          id="qsLoginBtn"
          (click)="auth.login()"
        >
          <span class='glyphicon glyphicon-log-in'></span> Log In
        </a>
        <a
          class="navmenu__item-link navmenu__item-link--mobile"
          id="qsLoginBtn"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()"
        >
          <span class='glyphicon glyphicon-log-in'></span>
        </a>
      </li>

      <li class="navmenu__item" *ngIf="auth.isAuthenticated()">
        <a
          class="navmenu__item-link navmenu__item-link--desktop"
          id="qsLogoutBtn"
          (click)="auth.logout()"
        >
          <span class='glyphicon glyphicon-log-out'></span> Log Out
        </a>
        <a
          class="navmenu__item-link navmenu__item-link--mobile"
          id="qsLogoutBtn"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()"
        >
          <span class='glyphicon glyphicon-log-out'></span>
        </a>
      </li> 

      <li class="navmenu__item" [routerLinkActive]="['link-active']">
        <a class="navmenu__item-link navmenu__item-link--desktop" [routerLink]="['/uploader']">
          <span class='glyphicon glyphicon-cloud-upload'></span> Uploader
        </a>
        <a class="navmenu__item-link navmenu__item-link--mobile" [routerLink]="['/uploader']">
          <span class='glyphicon glyphicon-cloud-upload'></span>
        </a>
      </li>
    </ul>
  
  </div>