@import './variables.scss';

.button {
  padding: 10px 20px;
  border: 1px solid $white;
  background: none;
  color: $white;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &.button--inversed {
    color: $gray;
    border-color: $gray;
  }
}
