@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin screen($size) {
  $screen-xs-min: 480px;
  $screen-sm-min: 768px;
  $screen-md-min: 992px;
  $screen-mlg-min: 1079px;
  $screen-lg-min: 1240px;

  $screen-xxs-max: $screen-xs-min -1;
  $screen-xs-max: $screen-sm-min - 1;
  $screen-sm-max: $screen-md-min - 1;
  $screen-md-max: $screen-lg-min - 1;

  @if ($size == xxs) {
    @media (max-width: $screen-xs-min - 1) { @content; }
  }
  @else if ($size == xs) {
    @media (min-width: $screen-xs-min) { @content; }
  }

  @else if ($size == sm) {
    @media (min-width: $screen-sm-min) { @content; }
  }

  @else if ($size == md) {
    @media (min-width: $screen-md-min) { @content; }
  }

  @else if ($size == mlg) {
    @media (min-width: $screen-mlg-min) { @content; }
  }

  @else if ($size == lg) {
    @media (min-width: $screen-lg-min) { @content; }
  }

  @else {
    @warn 'Screen breakpoint mixin supports: xxs, xs, sm, md, lg';
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
        $animations: #{$animations + ", "};
    }
  }
    
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content; }
  :-moz-placeholder           { @content; }
  ::-moz-placeholder          { @content; }
  :-ms-input-placeholder      { @content; }  
}
