$margin: 25px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin;

  .container__link {
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .container__title {
    margin-bottom: $margin;
  }
}
