.root-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4em;
  color: white;
  background-color: #1b1e27;
  text-align: center;
  vertical-align: middle;
  -webkit-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
  animation: fade-in 1s;
}

.root-container[ng-version] {
  background-color: red;
  -webkit-animation: fade-out-in 1s;
  -ms-animation: fade-out-in 1s;
  animation: fade-out-in 1s;
}

.loading-icon {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 20px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
}

.loading-icon::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -20px;
  margin-top: -20px;
  content:'';
  height:0.1;
  width:0.1;
  border: 20px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}

.loading-icon::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -5px;
  margin-top: -5px;
  content:'';
  height:10px;
  width:10px;
  border-radius: 20px;
  background-color: white;
}

@media (min-width: 400px) { 
  .root-container {
    font-size: 7rem;
  }

  .loading-icon {
    border: 40px solid transparent;
  }

  .loading-icon::before {
    margin-left: -40px;
    margin-top: -40px;
    border: 40px solid transparent;
    border-radius: 5px;
  }

  .loading-icon::after {
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: white;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-out-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fade-out-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color:#114357
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826C75
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #F29492
  }
  75% {
    border-right-color: transparent;
    border-left-color :#826C75
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357
  }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}
